/* CSS for blog */
#blog-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blog-post-img {
  flex: 0 0 150px;
  height: auto;
  overflow: hidden;
}

.blog-post-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.blog-post-img img:hover {
  transform: scale(1.03);
}

.blog-post-text {
  flex: 1;
}
